.myList {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 70px;
  min-height: 100vh;
  background-color: var(--main-color);
  color: white;
  .watchList {
    margin-top: 50px;
  }
}
